<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link rel="stylesheet" asp-href-include="css/*" asp-href-exclude="css/all.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" asp-href-include="css/all.min.css" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-1">
                <img asp-append-version="true" alt="Logo" src="~/img/Logo.png" />
            </div>
            <div class="col-md-11">
                <h2 class="mt-3 mb-3">@ViewBag.Title</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
