@using Shared
@model IEnumerable<ConferenceModel>
<div class="row">
    <div class="col-md-10 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Start of Event</th>
                    <th>Attendees</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForModel()
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @await  Component.InvokeAsync("Statistics", new { statsCaption = "Stats"})
    </div>
    <div class="col-md-4">
        <a asp-action="Add">Add</a>
    </div>

</div>